@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>

<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>

<input @bind=nuovoTodo placeholder="Qualcosa da fare" />
<input @bind=budget placeholder="Preventivo" />
<button @onclick="AddTodo">Add todo</button>

<table class="table">
    <caption>
        @($"Totale = {todos.Where(t => t.IsDone).Sum(tt => tt.Budget):C2} / {todos.Sum(t => t.Budget):C2}")
    </caption>
    <thead>
        <tr>
            <th>Svolto</th>
            <th>Titolo</th>
            <th>Preventivo</th>
            <th>Inserito Il</th>
            <th>Ultima Modifica</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in todos)
        {
            <tr>
                <td><input type="checkbox" @bind=todo.IsDone /></td>
                <td>
                    <input @bind=todo.Titolo @bind:event="oninput"
                    @onchange="() => todo.UltimaModifica=DateTime.Now" />
                </td>
                <td>@($"{todo.Budget:C2}")</td>
                <td>@todo.InseritoIl</td>
                <td>@todo.UltimaModifica</td>
                <td>
                    <button @onclick="() =>todos.Remove(todo)">Elimina</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@code {
    private string nuovoTodo = string.Empty;
    private decimal budget = 0.0m;
    private List<TodoItem> todos = new();

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(nuovoTodo))
        {
            todos.Add(new TodoItem { Titolo = nuovoTodo, Budget = budget });
            nuovoTodo = string.Empty;
            budget = 0.0m;
        }
    }
}