@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>

<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>

<input @bind=nuovoTodo placeholder="Qualcosa da fare" />
<input @bind=budget placeholder="Preventivo" />
<button @onclick="AddTodo">Add todo</button>

<table class="table">
    <caption>
        @($"Totale = {todos.Where(t => t.IsDone).Sum(tt => tt.Budget):C2} / {todos.Sum(t => t.Budget):C2}")
    </caption>
    <thead>
        <tr>
            <th>Svolto</th>
            <th>Titolo</th>
            <th>Preventivo</th>
            <th>Inserito Il</th>
            <th>Ultima Modifica</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in todos)
        {
            <tr>
                <td><input type="checkbox" @bind=todo.IsDone /></td>
                <td>
                    <input @bind=todo.Titolo @bind:event="oninput"
                    @onchange="() => todo.UltimaModifica=DateTime.Now" />
                </td>
                <td>@($"{todo.Budget:C2}")</td>
                <td>@todo.InseritoIl</td>
                <td>@todo.UltimaModifica</td>
                <td>
                    <button @onclick="() =>todos.Remove(todo)">Elimina</button>
                </td>
            </tr>
        }
    </tbody>
</table>



@code {
    private string nuovoTodo = string.Empty;
    private decimal budget = 0.0m;
    private List<TodoItem> todos = new();

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(nuovoTodo))
        {
            todos.Add(new TodoItem { Titolo = nuovoTodo, Budget = budget });
            nuovoTodo = string.Empty;
            budget = 0.0m;
        }
    }
}